<!--
  ~  Copyright (C) 2022 Kaleyra S.p.a. All Rights Reserved.
  ~  See LICENSE.txt for licensing information
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="com.kaleyra.video_utils.IntegrationInfo"
                android:value="androidx.startup" />
            <meta-data
                android:name="com.kaleyra.video_utils.ContextRetainer"
                android:value="androidx.startup" />
        </provider>
    </application>
</manifest>
